/*----TO USE-----
Media Query Mixins

@include atiphone6 {
  
}

@include at576 {

}
@include at768 {

}
@include at992 {

}
@include at1200 {

}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .hero h1 {
    font-family: "Lora", serif;
    position: absolute;
    font-size: 10rem;
    color: #fff;
    letter-spacing: 0.05em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2; }

.hero-bg {
  background-image: url("../img/bg-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
  position: relative; }

fieldset {
  border: 2px solid #ecb84c;
  padding: 25em 2.5em;
  margin: 2em 2em;
  transform: rotate(180deg) scaleX(-1); }

legend {
  text-align: center;
  transform: rotate(180deg) scaleX(-1); }
  legend span {
    font-family: "Lora", serif;
    margin: 0 1em;
    color: #fff;
    font-size: 1rem;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.3rem; }

@media (min-width: 768px) {
  .hero h1 {
    font-size: 15rem; }
  legend span {
    font-size: 1.2rem; } }

@media (min-width: 992px) {
  .hero h1 {
    font-size: 15rem; }
  legend span {
    font-size: 1.5rem; } }

@media (min-width: 1200px) {
  .hero h1 {
    font-size: 15rem; }
  legend span {
    font-size: 1.5rem; } }

header {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #d8d0d8ec; }

.container-nav {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none; }

nav li {
  text-align: center;
  margin-top: 1em;
  margin-left: 0; }

nav a {
  text-decoration: none;
  color: #909090;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  transition: 0.2s ease-in; }

nav a:hover,
nav a:focus {
  color: #4e5665;
  transition: 0.2s ease-in;
  border-bottom: 4px solid #ecb84c; }

@media (min-width: 992px) {
  header {
    height: 8vh; }
  nav ul {
    flex-direction: row; }
  nav li {
    margin-top: 0;
    margin-left: 3em; }
  nav a:hover,
  nav a:focus {
    padding-bottom: 21px; } }

@media (min-width: 1200px) {
  header {
    height: 8vh; }
  nav ul {
    flex-direction: row; }
  nav li {
    margin-top: 0;
    margin-left: 3em; }
  nav a:hover,
  nav a:focus {
    padding-bottom: 21px; } }
